body {
  margin: 0px;
}

header {
  position: relative;
  width: 100%;
  height: auto;
}

.Header-blocks-img {
  position: relative;
  width: 100%;
  height: 100%;
}

.Header-blocks-img img {
  position: relative;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.Header-Menu {
  position: relative;
  width: 100%;
  height: auto;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.Header-Menu li {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 8px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  margin: 20px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.Header-Menu li:hover {
  background: #00C368;
  border-radius: 8px;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.4);
  box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.4);
}

.Header-Menu li a {
  position: relative;
  text-decoration: none;
  color: black;
}

.Header-Menu li a:hover {
  color: white;
}

.Header-blocks-btn {
  position: relative;
  padding: 11px 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background: #00C368;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.4);
  box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.4);
  border-radius: 8px;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.Header-blocks-btn:hover {
  background: none;
  border: solid 1px #00C368;
  color: #00C368;
}

.Header-blocks-btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.Header-blocks-btn:active {
  background: none !important;
  border: solid 1px #00C368 !important;
  color: #00C368 !important;
}

/*______________________________________________________________________________________________________________________________*/

#Content {
  position: relative;
  width: 100%;
  height: auto;
  background: -o-linear-gradient(338.96deg, #E2E2E2 0.39%, rgba(255, 255, 255, 0) 86.46%);
  background: linear-gradient(111.04deg, #E2E2E2 0.39%, rgba(255, 255, 255, 0) 86.46%);
}

.Paralax-img-block1 {
  position: absolute;
  top: 0;
  right: 0%;
  width: 25%;
  height: auto;
}

.Paralax-img-block1 img {
  position: relative;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.Paralax-img-block2 {
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 25%;
  height: auto;
}

.Paralax-img-block2 img {
  position: relative;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.Content-Title {
  position: relative;
  width: 100%;
  text-align: center;
  font-weight: 700;
  color: #2E3A59;
  text-transform: uppercase;
}

.Content-Title::before {
  content: "";
  position: absolute;
  top: 25%;
  right: 50%;
  width: 184px;
  height: 4px;
  background: #00C368;
  -webkit-transform: translate(50%, 0%);
  -ms-transform: translate(50%, 0%);
  transform: translate(50%, 0%);
}

.Content-block {
  position: relative;
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 60% 1fr;
  grid-template-rows: 0fr 1fr 0fr;
  grid-template-areas: "Content-block-info-top Content-block-info-top Content-block-info-top" "Content-block-info-right Content-img Content-block-info-left" "Content-block-info-down Content-block-info-down Content-block-info-down";
  height: auto;
  margin: 0 auto;
}

.Content-block-info-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-area: Content-block-info-top;
}

.Content-block-info-right {
  display: grid;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  grid-area: Content-block-info-right;
}

.Content-img {
  position: relative;
  width: 100%;
  grid-area: Content-img;
}

.Content-block-info-left {
  display: grid;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  grid-area: Content-block-info-left;
}

.Content-block-info-down {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-area: Content-block-info-down;
}

.Content-blocks {
  position: relative;
  width: 9vw;
  height: auto;
  text-align: center;
}

.Content-blocks-img {
  position: relative;
  width: 100%;
}

.Content-blocks-img img {
  position: relative;
  width: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.Content-img-block {
  position: relative;
  width: 100%;
}

.Content-img-block img {
  position: relative;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.container-for-phone {
  position: relative;
  display: none;
}

.Content-phone-img {
  position: relative;
  width: 100%;
}

.Content-phone-img img {
  position: relative;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.Content-phone-title {
  position: relative;
  text-align: center;
  font-size: 9vw;
  font-weight: 700;
  color: #2E3A59;
}

.CaruselPhone {
  position: relative;
  width: 100%;
  height: 67vw;
}

.Corousel-phone-info {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0px 35px;
}

.Corousel-phone-info p {
  position: relative;
  font-size: 6vw;
  font-weight: 500;
  color: #2E3A59;
}

.Content-phone-blocks-img {
  position: relative;
  width: 100%;
}

.Content-phone-blocks-img img {
  position: relative;
  width: 30vw;
  -o-object-fit: cover;
  object-fit: cover;
}

.Carusel-Phone-control-left {
  position: absolute;
  top: 100%;
  right: 50%;
  border: none;
  background: none;
  -webkit-transform: translate(-135%, 48%);
  -ms-transform: translate(-135%, 48%);
  transform: translate(-135%, 48%);
}

.Carusel-Phone-control-right {
  position: absolute;
  top: 100%;
  left: 50%;
  border: none;
  background: none;
  -webkit-transform: translate(135%, 48%);
  -ms-transform: translate(135%, 48%);
  transform: translate(135%, 48%);
}

.Carusel-Phone-prev-icon {
  position: relative;
  width: 2rem;
  height: 2rem;
  display: block;
  background: url("../img/grey-arrow-left.png") no-repeat 50% 50%/100%;
}

.Carusel-Phone-next-icon {
  position: relative;
  width: 2rem;
  height: 2rem;
  display: block;
  background: url("../img/grey-arrow-right.png") no-repeat 50% 50%/100%;
}

.carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #cbcfd3 !important;
}

.carousel-indicators {
  top: 100% !important;
  margin-top: 20px !important;
}

/*_____________________________________________________________________________________________________________________________*/

#Contant2 {
  position: relative;
  width: 100%;
  height: auto;
}

.info-contact-comment {
  position: relative;
  background: #F5F5F5;
  padding: 90px 6%;
}

.info-content-acardeon {
  position: relative;
  background: #F8FBFF;
  padding: 90px 6%;
}

.Content2-blocks-title {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #2E3A59;
  margin-top: 50px;
}

.Content2-blocks-title::before {
  content: "";
  position: absolute;
  top: -20%;
  right: 50%;
  width: 184px;
  height: 4px;
  background: #00C368;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

.Content2-info {
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0px;
}

.Content2-info-blocks {
  position: relative;
  width: 100%;
  padding: 0px 8%;
}

.Content2-info-blocks::before {
  content: "";
  position: absolute;
  top: 0%;
  right: 100%;
  width: 2vw;
  height: 1.3vw;
  background: url("../img/quotes.svg") no-repeat 50% 50%/cover;
  -webkit-transform: translate(100%, 0px);
  -ms-transform: translate(100%, 0px);
  transform: translate(100%, 0px);
}

.Content2-info-blocks::after {
  content: "";
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 2vw;
  height: 1.3vw;
  background: url("../img/quotes.svg") no-repeat 50% 50%/cover;
  -webkit-transform: translate(-98%, -11px) rotate(180deg);
  -ms-transform: translate(-98%, -11px) rotate(180deg);
  transform: translate(-98%, -11px) rotate(180deg);
}

.Content2-info-blocks p {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  color: #2E3A59;
}

.Content2-info-blocks-img {
  position: relative;
  width: 40%;
}

.Content2-info-blocks-img img {
  position: relative;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.Content2-info-coments {
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Content2-info-coments-blocks {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Content2-coments-blocks-img {
  position: relative;
  width: 100%;
  margin: 0px 15px;
}

.Content2-coments-blocks-img img {
  position: relative;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.Content2-coments-blocks {
  position: relative;
}

.Content2-coments-blocks p {
  position: relative;
  font-size: 15px;
  font-weight: 400;
  color: #2E3A59;
}

.Content2-acardeon-title {
  position: relative;
  width: 89%;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #2E3A59;
  margin-top: 50px;
}

.Content2-acardeon-title::before {
  content: "";
  position: absolute;
  top: -20%;
  right: 50%;
  width: 184px;
  height: 4px;
  background: #00C368;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

.Content2-blocks-text {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  color: #2E3A59;
}

.Content2-info-acardeon {
  position: relative;
  width: 100%;
  height: auto;
}

.accordion {
  --bs-accordion-bg: #fff0;
  --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-button:not(.collapsed) {
  border: none;
  color: #00C368;
  background: none;
}

.accordion-button:not(.collapsed):focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}

.accordion-button {
  font-size: 20px;
  font-weight: 700;
  color: #2E3A59;
}

.accordion-button-img {
  position: relative;
  width: 40px;
  margin-right: 20px;
}

.accordion-button-img img {
  position: relative;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.for-phone {
  position: relative;
  width: 100%;
  height: auto;
  display: none;
}

.Contant2-phone-block {
  position: relative;
  width: 95%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.24);
  box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.24);
  border-radius: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
}

.Content2-phone-blocks-img {
  position: absolute;
  top: 0;
  right: 50%;
  width: 140px;
  -webkit-transform: translate(50%, -43%);
  -ms-transform: translate(50%, -43%);
  transform: translate(50%, -43%);
}

.Content2-phone-blocks-img img {
  position: relative;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.Content2-phone-blocks {
  position: relative;
}

.Content2-phone-blocks p {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  color: #2E3A59;
}

.Content2-phone-blocks::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 50px;
  height: 32px;
  background: url("../img/quotes-grey.svg") no-repeat 50% 50%/cover;
  -webkit-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
}

.Content2-phone-blocks::after {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 50px;
  height: 32px;
  background: url("../img/quotes-grey.svg") no-repeat 50% 50%/cover;
  -webkit-transform: translate(0%, 0%) rotate(180deg);
  -ms-transform: translate(0%, 0%) rotate(180deg);
  transform: translate(0%, 0%) rotate(180deg);
}

/*______________________________________________________________________________________________________________________________*/

@media only screen and (max-width: 1509px) {
  .Content2-info-coments {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .Content2-coments-blocks-img {
    width: 40%;
  }
}

@media only screen and (max-width: 997px) {
  .Header-Menu li {
    font-size: 2vw;
    margin: 2vw;
  }

  .Header-blocks-btn {
    font-size: 2vw;
    padding: 11px 3vw;
  }

  .Content-block {
    width: 100%;
    grid-template-columns: 1fr 45% 1fr;
  }

  .Content-blocks {
    width: 17vw;
  }

  .Content2-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .Content2-info-coments {
    padding: 0px 9%;
  }

  .Content2-info-blocks::after,
  .Content2-info-blocks::before {
    width: 5vw;
    height: 3.3vw;
  }
}

@media only screen and (max-width: 575px) {
  .header-blocks-hidden {
    display: none;
  }

  .Header-blocks {
    padding: 0px 9vw;
  }

  #Content {
    background: none;
  }

  .container-for-all,
  .paralax-img {
    display: none;
  }

  .container-for-phone {
    display: block;
  }

  .Content2-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .Content2-acardeon-title,
  .Content2-blocks-title {
    font-size: 8vw;
  }

  .Content2-phone-blocks p {
    font-size: 4vw;
  }

  .Content2-info-coments {
    padding: 0 0%;
  }

  .Content2-coments-blocks-img {
    width: 50vw;
  }

  .Content2-coments-blocks p {
    font-size: 3vw;
  }

  .info-contact-comment {
    background: white;
  }

  .for-all {
    display: none;
  }

  .for-phone {
    display: block;
  }
}

@media only screen and (max-width: 360px) {
  .Content2-phone-blocks::after,
  .Content2-phone-blocks::before {
    width: 13vw;
    height: 8.3vw;
  }
}

.webp .Carusel-Phone-prev-icon { background: url(../img/grey-arrow-left.webp) no-repeat 50% 50%/100%; }

.webp .Carusel-Phone-next-icon { background: url(../img/grey-arrow-right.webp) no-repeat 50% 50%/100%; }